/*body {
  background-color:white;
}*/

header {
  padding: 15px;
}

#nutrient_goals div {
  display: inline-block;
  width: 60px;
  height: 1em;
  border: 1px solid black;

}

#existing_dropdown{
  display: inline;
}

.tt-dropdown-menu{
  width: 308px;
  margin-top: 12px; 
  padding: 8px 0; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  /*-webkit-border-radius: 8px; 
     -moz-border-radius: 8px; 
          border-radius: 8px; */
  /*-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2); 
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2); 
          box-shadow: 0 5px 10px rgba(0,0,0,.2); */
}
h2 {
  padding: 5px;
}

p {
  padding: 5px;
}
th {
  padding: 5px;
}

tr {
  padding: 5px;
}

.total {
  font-weight: bold;
}
#user_name {
  /*color: #C2A36D;*/
  color: black;
  font-size: 30;
}

h4 {
  font_size: 20;
}

.value {
  right: 0;
}
/*
.col_xs-2 {
  text-align: right;
}*/
#profile_goals input{
  width: 50px;
  /*display: inline-block;*/
}
#login_logout {
  float: right;
  
}

.background-image: linear-gradient(
  to right,#FF0000, #FF0000 {{
    100 * food["nutrients"]["Protein & Amino Acids"]["Protein"] *4 /(( user.protein_goal / 100) * user.get_adjusted_daily_caloric_needs())
    }}%,
  #FFFFFF {{100 * food["nutrients"]["Protein & Amino Acids"]["Protein"] *4 /(( user.protein_goal / 100) * user.get_adjusted_daily_caloric_needs())}}%
    ; 
  border: 1px #000 solid;
}