/*body {
  background-color:white;
}*/

header {
  padding: 15px;
  background-color: #7280DE;
  font-size: 16px;
  font-weight: bold;
  color: white;

}
header a{
  color: white;
}

.title {
  float: left;
}

.nav-links{
  float: right;
  text-align: top;

}
.nav-links a:hover{
  color: rgb(188, 163, 184);
}
#intro {
  padding: 15px;
  text-align: justify;
}

#date{
  line-height: normal;
}

/*.progress-bar {
  display: inline-block;
  width: 30px;
  height: 12px;
  height: 1em;
  border: 1px solid black;
  vertical-align: text-bottom;

}
*/


#nutrient_goals {
  padding-left: 15px;
}
/*We are selecting the div child of the nutrient_goals parent.*/
.target-progress-bar{
  display: inline-block;
  min-width: 30px;
  padding: 0 5px;
  height: 1.5em;
  border: 1px solid black;
  
  text-align: center;

}

.max {
  display: inline-block;
  min-width: 30px;
  padding: 0 5px;
  height: 1.5em;
  border: 1px solid black;
  
  text-align: center;
  background: red;

}
#nutrient_goals .target-progress-bar{
  display: inline-block;
  min-width: 30px;
  padding: 0 5px;
  height: 1em;
  border: 1px solid black;
  
  text-align: center;

}


#nutrient_goals span {
  padding: 0px;
  width: 320px;
  display: inline block;
}


#existing-dropdown button{
  /*display: inline-block;
  vertical-align: middle;
  border: 1px solid black;
  padding: 2px;
  */
  border: 1px solid black;
  border-radius: 0;
}
.btn-group button{
  /*border: 1px solid black;
  border-radius: 0;*/
  display: block;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 0;
  padding: 2px;
  height: 30px;
  width: 87px;
}

td {
  /*padding-left: 15px;*/
}
.nutrient_header{
  text-align: left;
  text-transform: uppercase;
}

.more td:first-child{
    padding-left: 15px;


}
.more.collapse.in{
    display: table-row!important;
}
td.nutrient a{
  /*font-weight: bold;*/
  color: black;
}

.add_foods{
  min-width: 100%;
  
}

.add_food_bar{
  padding: 15px;
}
.add_food_bar input {
  padding: 5px 0;
}

.form-inline{
  height: 20px;
}

.multiselect{
  display: block;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 0;
  padding: 2px;
  height: 30px;



}
/*Bootstrap 3 style fixes for using Typeahead.js*/
.tt-menu{

  min-width: 160px;
  margin-top: 2px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
 
}
/*.tt-dropdown-menu{
  width: 308px;
  margin-top: 12px; 
  padding: 8px 0; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  
} */
.food-typeahead{
  border: 1px solid black;
  width: 60px;
  
 
}
.twitter-typeahead{
  display: inline!important;


}

#quantity-input {
  /*border: 1px solid black;*/
  
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 0;
  padding: 2px;
  height: 30px;
  width: 60px;
  
}

.food-typeahead.tt-input{
  /*display: inline;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 0;
  padding: 2px;
  height: 28px;*/
  
 
  border: 1px solid black;
  border-radius: 0;
  padding: 2px;
  height: 30px;
}

#units {
  border: 1px solid black;
  border-radius: 0!important;
  border-color: black;
  height: 30px;
  vertical-align: middle;
}

.add_food_bar .btn {
  border: 1px solid black;
  border-radius: 0;
  vertical-align: middle;
  height: 30px; 
}


.quantity-unit{
  padding-left: 5px;
  font-weight: normal;

}
.food-container{
  padding: 15px;
  
}

/*Only need to pull one class name within the quotes*/
.food_details{
  columns: 320px;
 -webkit-columns: 320px;
 -moz-columns: 320px;
}
.food_details table{
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
td.food_name {
  font-weight: bold;

}
th{
  width: 60px;
}
td div.quantity_unit{
  font-weight: normal;
  padding-left: 5px;

}

.food-name{
  font-weight: bold;
}

.indent{
  padding-left: 5px
}

.more_button{
  width: 54px;
}
.delete_button{
  width: 54px;
}
}
h2 {
  padding: 5px;
}

p {
  padding: 5px;
}
th {
  padding: 5px;
  width: 66px;
}

tr {
  padding: 5px;
}
tr.highlight {
  background-color: yellow;
}

.total {
  font-weight: bold;
}



h4 {
  font_size: 20;
}

.value {
  right: 0;
}

#profile-goals input{
  width: 50px;
  /*display: inline-block;*/
}
#login-logout {
  float: left;
  
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.cf {
    *zoom: 1;
}