{# <--base.html> #}

<!DOCTYPE html>


<html lang="en">
    <head>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% if title %}
        <title>{{title}} *Nutrition</title>
        {% else %}
        <title>Welcome to Nutrition</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta charset="UTF-8">

        <script type="text/javascript" src="static/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="static/js/main.js"></script>
        <script type="text/javascript" src="static/js/typeahead.js/typeahead.bundle.js"></script>
        <link rel="stylesheet" href="static/css/bootstrap-multiselect.css" type="text/css"/>
        <link rel="stylesheet" href="static/css/main.css" type="text/css"/>
       
        

    </head>
    <body>
        <div>Nutrition: <a href="/index">Home</a></div>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in mesages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}        
    </body>
</html>
