
{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}





{# <h2>Here is Your Personal Food Log Page!</h2> #}
{# <div>
    Daily Caloric Needs: {{ user.get_adjusted_daily_caloric_needs()|num_round()|int }}
    Weekly Weight Change Goal in Kilograms: {{ user.weekly_weight_change }}
    getter functions are attributes to be referred to as user.get_....
    Change Calories: Daily {{ user.get_caloric_change_daily()|num_round()|int }} or Weekly: {{ user.get_caloric_change_weekly()|num_round()|int }}
    Body Mass Index: {{ user.get_body_mass_index()|num_round()|int }}
   


</div> #}

<div id="intro">
    Food Log For {{ user.username }}: Date: <input type="date" id="date">
</div>

<div id="nutrient_goals">
    <span>Calories:</span>
    <div style="background-image: linear-gradient(
        to right, #7280DE, #7280DE {{ calorie_percentage }}%, 
        white {{ calorie_percentage }}%);">
    </div>
    <span>Protein:</span>
    <div style="background-image: linear-gradient(
        to right, #7280DE, #7280DE {{ protein_percentage }}%, 
        white {{ protein_percentage }}%);">
    </div>
    <span>Carbs:</span>
    <div style="background-image: linear-gradient(
        to right, #7280DE, #7280DE {{ carbohydrate_percentage }}%, 
        white {{ carbohydrate_percentage }}%);">
    </div>
    <span>Fats:</span>
    <div style="background-image: linear-gradient(
        to right, #7280DE, #7280DE {{ fat_percentage }}%, 
        white {{ fat_percentage }}%);">
    </div>
    <span>Water:</span>
    <div style="background-image: linear-gradient(
        to right, #7280DE, #7280DE {{ fat_percentage }}%, 
        white {{ fat_percentage }}%);">
    </div>

</div>

<div class="food-body">
    <form class="form-inline" method=post action="/food_log">
        <div class="btn-group" id="existing-dropdown">
                <button type="button" class="dropdown-toggle btn btn-default" aria-expanded="false" data-toggle="dropdown">
                    Add Existing Meal, Snack or Food <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Breakfast</a></li>
                    <li><a href="#">Lunch</a></li>
                    <li><a href="#">Dinner</a></li>
                    <li><a href="#">Snack</a></li>
                    <li><a href="#">Food</a></li>
                </ul>
            </div>
       
        
        <select class="multiselect" multiple="multiple" id="food_group_select">
            {% for food_group, selected in food_groups_list %} 
        {# This creates one option for each food_group. food_group.FdGrp_Desc gets replaced by the food_group value. #}
        {# food_group is a class. FodGrp_Desc is an attribute of food_group #}
            <option value ="{{food_group.FdGrp_Cd}}"
            {% if selected %} selected {% endif %}>
            {{ food_group.FdGrp_Desc }}
            </option>

        {% endfor %}

        </select>
        <input class="typeahead" type="text" name="food" required placeholder="Food">
        <input type="integer" name="quantity" id="quantity-input" required placeholder="Quantity">
        <select id="units" name="unit" required></select>
        <button type="submit" class="btn btn-default">Add</button>

    </form>

</div> 
{# <div id="calorie_goals">
    Calorie Goals: {{ user.get_adjusted_daily_caloric_needs()|num_round()|int }}
    <span id="macro-nutrient-goals">Macro Nutrient Goals:
        Protein: {{ user.protein_goal }}%
        Carbohydrate: {{  user.carbohydrate_goal }}%
        Fat: {{ user.fat_goal }}%
    </span>
</div>  #}
{#can have multiple classes in one class separated by a space#}

{# do I wrap the class="table" with <div class="table-responsive"></div> #}
<div class="food-container">
    <table class="table">
        <tr>
            <th>FOOD</th>
            <th>CALS</th>
            <th>PROT</th>
            <th>CARB</th>
            <th>FATS</th>
            <th>WATER</th>
            <th>More</th>
            <th>Delete</th>                                                                 
        </tr>
        {% for food_index, food in enumerate(food_nutrient_list) %}
        <tr>
            <td class="food_name">{{food["name"]}}<br>
                <div class="quantity_unit">{{food["quantity"]}} {{food["unit"]}}</div>
                </td>
            
            <td>{{food["nutrients"]["Calorie Information"]["Energy_KCAL"]|num_round()}}</td>
            <td>{{food["nutrients"]["Protein & Amino Acids"][ "Protein"]|num_round()}}</td>
            <td>{{food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]|num_round()}}</td>
            <td>{{food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]|num_round()}}</td>
            <td>{{food["nutrients"]["Other"]["Water"]|num_round()}}</td>
            <td class="more_button">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#Food-Details-{{food_index}}" aria-expanded="false" aria-controls="Food-Details-{{food_index}}">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            </td>
            <td class="delete_button">
                {% if food["name"] != "Totals" %}
                <a href="food_log/delete/{{food["id"]}}">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
                {% endif %} 
            </td>      
        </tr>

      
        <tr>
            {#THIS IS ONE VARIATION: LINES 141-154#}
            <td  colspan="7">
                <div id="Food-Details-{{food_index}}" class="collapse">
                    <table class="table">
                        <tr>
                            <td><strong>PROTEIN </strong></td>
                            <td>+ add more button</td>
                        </tr>
                        {% for index, nutrient_name in enumerate(food["nutrients"]["Protein & Amino Acids"]) %}
                        {% if index > 0 and index < 10 %}
                        {% if index % 3 == 1 %}
                        <tr>
                        {% endif %}
                            
                            <td>
                               {{nutrient_name}} {{food["nutrients"]["Protein & Amino Acids"][nutrient_name]|num_round()}} g
                            </td>
                        {% if index % 3 == 0 %}
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                            
                        <tr>
                            <td><strong>CARBOHYDRATES</strong></td> 
                            <td>+ add more button</td>
                        </tr>
                        <tr>
                            {% for index, nutrient_name in enumerate(food["nutrients"]["Carbohydrates"]) %}
                            {% if index > 0 and index < 4 %}
                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Carbohydrates"][nutrient_name]|num_round()}} g
                            </td>
                            {% endif %}
                            {% endfor %}
                       </tr>

                       <tr>
                            <td><strong>FATS</strong></td>
                            <td>+ add more button</td>
                        </tr>
                        {% for index, nutrient_name in enumerate
                            (food["nutrients"]["Fats & Fatty Acids"]) %}
                        {% if index > 0 and index < 7 %}
                        {% if index % 3 == 1%}
                        <tr>
                        {% endif %}

                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]|num_round()}} g
                            </td>
                        {% if index % 3 == 0 %}

                        </tr>
                        {% endif %}
                        {% endif %}

                        


{# 
                            
                        {% if index > 18 and index < 33 %}
                        {% if index % 4 == 1%}
                        <tr>
                        {% endif %}
                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]|num_round()}} g
                            </td>
                        {% if index % 4 == 1 %}
                        </tr>
                        {% endif %}
                        {% endif %}

                        {% if index > 32 %}
                        {% if index % 4 == 1 %}
                        <tr>
                        {% endif %}
                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]|num_round()}} g
                            </td>
                        {% if index % 4 == 1 %}
                        </tr>
                        {% endif %}
                        {% endif %} #}
                        {% endfor %}
                        <tr>
                            <td><strong>Vitamins </strong></td>
                            <td>+ add more button</td>
                        </tr>
                        {% for index, nutrient_name in enumerate(food["nutrients"]["Vitamins"]) %}
                        {% if index >= 0 and index < 16%}
                        {% if index % 3 == 0%}
                        <tr>
                        {% endif %}
                            
                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Vitamins"][nutrient_name]|num_round()}}
                            </td>
                        {% if index % 3 == 2 %}
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        
                        {# <tr>
                            {% for index, nutrient_name in enumerate(food["nutrients"]["Fats & Fatty Acids"]) %}

                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]|num_round()}} g
                            </td>
                            {% endfor %}
                            <td>Total Omega 3</td>
                            <td>Total Omega 6</td>
                       </tr>
     #}
                        
                        <tr>
                            <td><strong>Minerals </strong></td>
                            <td>+ add more button</td>
                        </tr>
                        {% for index, nutrient_name in enumerate(food["nutrients"]["Minerals"]) %}
                        {% if index >= 0 and index < 12 %}
                        {% if index % 3 == 0 %}
                        <tr>
                        {% endif %}
                            
                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Minerals"][nutrient_name]|num_round()}}
                            </td>
                        {% if index % 3 == 2 %}
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td><strong>Sterols</strong></td>
                            <td>+ add more button</td>
                        </tr>
                        {% for index, nutrient_name in enumerate(food["nutrients"]["Sterols"]) %}
                        {% if index >= 0 and index < 2%}
                        {% if index % 3 == 0%}
                        <tr>
                        {% endif %}
                            
                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Sterols"][nutrient_name]|num_round()}}
                            </td>
                        {% if index % 3 == 2%}
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td><strong>Other</strong></td>
                            <td>+ add more button</td>
                        </tr>
                        {% for index, nutrient_name in enumerate(food["nutrients"]["Other"]) %}
                        {% if index >= 0 and index < 6 %}
                        {% if index % 3 == 0%}
                        <tr>
                        {% endif %}
                            
                            <td>
                                {{nutrient_name}} {{food["nutrients"]["Other"][nutrient_name]|num_round()}}
                            </td>
                        {% if index % 3 == 2 %}
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                    </table>
                </div>
            </td>
            {#THIS IS A SECOND VARIATION: LINES 156-184#}
            {# <div>
            <td colspan="4">
                <div>Protein</div>
            </td>
            <td>
                <div>Amount</div>
            </td>
            <td>
                <div>Unit</div>
            </td>
            <td>
                <div>Progress Bar</div>
            </td>
            </div>
            <div>
            <td colspan="4">
                <div>Histidine</div>
            <td>
                <div>Amount</div>
            </td>
            <td>
                <div>Unit</div>
            </td>
            <td>
                <div>Progress Bar</div>
            </td>
            </div>

 #}
        </tr>
        {#HERE IS A THIRD VARIATION LINES 187-208#}
        {# <tr>
            <td colspan="1">Protein</td>
            <td colspan="1">Histidine</td>
            <td colspan="1">Leucine</td>
            <td colspan="1">Lysine</td>
            <td colspan="1">Methionine</td> 
            <td colspan="1">Phenylalanine</td>
            <td colspan="1">Tryptophan</td>
            <td colspan="1">Threonine</td>  
            <td colspan="1">Valine</td>      
        </tr> #}
            
            {# <td>Protein</td>
            <td>Histidine</td>
            <td>Leucine</td>
            <td>Lysine</td>
            <td>Methionine</td>
            <td>Phenylalanine</td>
            <td>Tryptophan</td>
            <td>Threonine</td>
            <td>Valine</td>
            </td>
        
        
 #}


        {% endfor %}
    </table>

</div>

{% endblock %}
