
{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post action="/food_log">

<h2 class="welcome">
    Welcome <span id="user_name">{{ user.name }}!</span> Here is Your Personal Food Log Page!
</h2>


{# <h2>Here is Your Personal Food Log Page!</h2> #}
<div>
    Daily Caloric Needs: {{ user.get_adjusted_daily_caloric_needs()|round|int }}
    Weekly Weight Change Goal in Kilograms: {{ user.weekly_weight_change }}
    {#getter functions are attributes to be referred to as user.get_....#}
    Change Calories: Daily {{ user.get_caloric_change_daily()|round|int }} or Weekly: {{ user.get_caloric_change_weekly()|round|int }}
    Body Mass Index: {{ user.get_body_mass_index()|round|int }}
   


</div>
<div>
    Macro Nutrient Goals as a Percentage of Calorie Goal:
    Protein: {{ user.protein_goal }}%
    Carbohydrate: {{  user.carbohydrate_goal }}%
    Fat: {{ user.fat_goal }}%
</div> 
<p>
    <strong>Please select the food groups you wish to search.</strong>
</p>


{# select is the type of tag/element, as opposed to div, p, input.
class is a way to identify the element for purposes of css. class is a multiple identifier, not a unique identifier.
multiple gives the property of the tag of we can pick more than one item. #}
<select class="multiselect" multiple="multiple" id="food_group_select">
    {% for food_group in food_groups_list %} 
        {# This creates one option for each food_group. food_group.FdGrp_Desc gets replaced by the food_group value. #}
        {# food_group is a class. FodGrp_Desc is an attribute of food_group #}
        <option value ="{{food_group.FdGrp_Cd}}">{{ food_group.FdGrp_Desc }}</option>

    {% endfor %}

</select>
<p>
    <strong>Please enter the Food and Amount of Food in grams:</strong>
</p>

<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Quantity</th>            
        </tr>
        <tr>
            <td><input class="typeahead" type ="text" name ="food" required placeholder="Food"></td>
            <td><input type="integer" name="quantity" required placeholder="Quantity"></td>
        </tr>      
    </thead>
</table>

<div>
    <br>
</div>


<div>
</div>
<div>
    <br>
</div>
<input type="submit">
</form>

<div class="container-fluid">
    <p><h4>HERE ARE THE FOOD NUTRIENTS:</h4></p>
    <div class="row">
        <div class="col-xs-2"><strong>FOOD</strong></div>
        <div class="col-xs-2"><strong>CALS</strong></div>
        <div class="col-xs-2"><strong>PROT</strong></div>
        <div class="col-xs-2"><strong>CARBS</strong></div>
        <div class="col-xs-2"><strong>FATS</strong></div>
        <div class="col-xs-2"></div>
    </div>

    
    {% for food_index, food in enumerate(food_nutrient_list) %}
    <div class="row">
        <div class="col-xs-2">
            {{food["name"]}}
        </div>      
        <div class="col-xs-2">
            {{food["nutrients"]["Calorie Information"]["Energy_KCAL"]}}
        </div>
        <div class="col-xs-2">
            {{food["nutrients"]["Protein & Amino Acids"][ "Protein"]}}
        </div>
        <div class="col-xs-2">
            {{food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]}}  
        </div>
        <div class="col-xs-2">
            {{food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]}}
        </div> 
        <div class="col-xs-2">
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#Food-Details-{{food_index}}">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
    </div>
    



     
    <div class="collapse" id="Food-Details-{{food_index}}"> 
        <p><h4>NUTRIENT BREAKDOWN FOR THE FOOD:</h4></p>
        

        <div class="row">
            <div class="col-md-4">
                <h3>Calories</h3>
                <div class="total">TOTAL {{food["nutrients"]["Calorie Information"]["Energy_KCAL"]}}</div>
            
                <div>From Protein {{ (food["nutrients"]["Protein & Amino Acids"][ "Protein"]) * 4}}</div>
                <div class="value">From Carbs{{((food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]) - (food["nutrients"]["Carbohydrates"]["Fiber, total dietary"])) * 4}}</div>
                <div class="value">From Fats {{(food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]) * 9}} </div>
            </div>

            <div class="col-md-4">
                <h3>Protein</h3>
                <div class="total">TOTAL {{nutrient_name}} {{food["nutrients"]["Protein & Amino Acids"]["Protein"]}}</div>
                
                <div>    
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#Protein-Details-{{food_index}}">
                    More Details
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                </div>
                <div id="Protein-Details-{{food_index}}" class="collapse">
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Protein & Amino Acids"]) %}
                    {% if index > 0 %}

                    <div>
                        {{nutrient_name}} {{food["nutrients"]["Protein & Amino Acids"][nutrient_name]}}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                        
            </div>
            
                
            

            <div class="col-md-4">
                <h3>Carbohydrates</h3>
                {% for index, nutrient_name in enumerate(food["nutrients"]["Carbohydrates"]) %}
                {% if index == 0 %}
                <div class="total">{{nutrient_name}} {{food["nutrients"]["Carbohydrates"][nutrient_name]}}
                </div>
                {% endif %}

                {% if 0 < index < 4 %}
                <div>{{nutrient_name}} {{food["nutrients"]["Carbohydrates"][nutrient_name]}}
                </div>
                {% endif %}
                {% endfor %}

                <div>
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#Sugars-Details-{{food_index}}">
                    More Details
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                </div>
                <div id="Sugars-Details-{{food_index}}" class="collapse">
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Carbohydrates"]) %}
                    {% if index >= 4 %}
                    <div>{{nutrient_name}} {{food["nutrients"]["Carbohydrates"][nutrient_name]}}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>                           
            </div>           
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3>Fats</h3>
                <div>
                    <div> Total Fats {{food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]}}
                    </div>
                    <div class="total">Saturated</div>
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Fats & Fatty Acids"]) %}
                    {% if 0 < index < 15 %}
                    <div>{{nutrient_name}} {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                    <div class="total">Monounsaturated</div>
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Fats & Fatty Acids"]) %}
                    {% if index < 16 %}
                    <div>{{nutrient_name}} {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]}}
                    </div>
                    {% endif %}
                    {% endfor %}

                    
                    <div class="total">Polyunsaturated</div>
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Fats & Fatty Acids"]) %}
                    {% if index < 22 %}
                    <div>{{nutrient_name}} {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    

                    <div class="total">Fatty Acids, total trans {{food["nutrients"]["Fats & Fatty Acids"]["Fatty Acids, total trans"]}}</div>
                    <div class="total">Fatty acids, total trans-polyenoic {{food["nutrients"]["Fats & Fatty Acids"]["Fatty acids, total trans-polyenoic"]}}</div>
                    <div class="total">Fatty acids, total trans-polyenoic {{food["nutrients"]["Fats & Fatty Acids"]["Fatty acids, total trans-polyenoic"]}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Vitamins</h3>
                {% for index, nutrient_name in enumerate(food["nutrients"]["Vitamins"]) %}
                    
                <div>{{nutrient_name}} {{food["nutrients"]["Vitamins"][nutrient_name]}}
                </div>
                        
                {% endfor %}
                
            </div>
            <div class="col-md-4">
                <h3>Minerals</h3>
                {% for index, nutrient_name in enumerate(food["nutrients"]["Minerals"]) %}
                    
                <div>{{nutrient_name}} {{food["nutrients"]["Minerals"][nutrient_name]}}
                </div>               
                {% endfor %}
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3>Sterols</h3>
                
                {% for index, nutrient_name in enumerate(food["nutrients"]["Sterols"]) %}
                {% if index < 2 %}
                <div>
                    {{nutrient_name}} {{food["nutrients"]["Sterols"][nutrient_name]}}
                </div>
                {% endif %}
                {% endfor %}
                
                <div>
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#Sterols-Details-{{food_index}}">
                    More Details
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                </div>

                <div id="Sterols-Details-{{food_index}}" class="collapse"> 
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Sterols"]) %}
                    {% if index >= 2 %}                
                    <div>
                        {{nutrient_name}} {{food["nutrients"]["Sterols"][nutrient_name]}}
                    </div>
                    {% endif %}
                    {% endfor %}              
                    {# <div>Stigmasterol 
                        {{food["nutrients"]["Sterols"]["Stigmasterol"]}}
                    </div>
                    <div>Campesterol 
                        {{food["nutrients"]["Sterols"]["Campesterol"]}}
                    </div>
                    <div>Beta-sitosterol 
                        {{food["nutrients"]["Sterols"]["Beta-sitosterol"]}}
                    </div> #}
                </div>
            </div>
                       
            <div class="col-md-4">
                <h3>Other</h3>
                {% for index, nutrient_name in enumerate(food["nutrients"]["Other"]) %}
                    
                <div>{{nutrient_name}} {{food["nutrients"]["Other"][nutrient_name]}}
                </div>              
                {% endfor %}
            </div>          
        </div>
    </div>
    {% endfor %} 

</div>  
{% endblock %}
