{#  #}
{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post action="/food_log">




{# <h2>Here is Your Personal Food Log Page!</h2> #}
{# <div>
    Daily Caloric Needs: {{ user.get_adjusted_daily_caloric_needs()|num_round()|int }}
    Weekly Weight Change Goal in Kilograms: {{ user.weekly_weight_change }}
    getter functions are attributes to be referred to as user.get_....
    Change Calories: Daily {{ user.get_caloric_change_daily()|num_round()|int }} or Weekly: {{ user.get_caloric_change_weekly()|num_round()|int }}
    Body Mass Index: {{ user.get_body_mass_index()|num_round()|int }}
   


</div> #}

<div id="intro">
    Craft and Track Meals and Snacks to Satisfy Your Nutritional Goals!<br>
    Food Log For {{ user.username }}: Date: <input type="date" id="date">
</div>

<div id="nutrient_goals">
    <span>Calories:</span>
    <div style="background-image: linear-gradient(
        to right, red, red {{ calorie_percentage }}%, 
        white {{ calorie_percentage }}%);">
    </div>
    <span>Protein:</span>
    <div style="background-image: linear-gradient(
        to right, red, red {{ protein_percentage }}%, 
        white {{ protein_percentage }}%);">
    </div>
    <span>Carbs:</span>
    <div style="background-image: linear-gradient(
        to right, red, red {{ carbohydrate_percentage }}%, 
        white {{ carbohydrate_percentage }}%);">
    </div>
    <span>Fats:</span>
    <div style="background-image: linear-gradient(
        to right, red, red {{ fat_percentage }}%, 
        white {{ fat_percentage }}%);">
    </div>
    <span>More:</span>
    <div>
        
    </div>

</div>

<div class="food-body">
    <form class="form-inline">
        <div class="btn-group" id="existing-dropdown">
                <button type="button" class="dropdown-toggle btn btn-default" aria-expanded="false" data-toggle="dropdown">
                    Add Existing Meal, Snack or Food <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Breakfast</a></li>
                    <li><a href="#">Lunch</a></li>
                    <li><a href="#">Dinner</a></li>
                    <li><a href="#">Snack</a></li>
                    <li><a href="#">Food</a></li>
                </ul>
            </div>
       
        
        <select class="multiselect" multiple="multiple" id="food_group_select">
            {% for food_group, selected in food_groups_list %} 
        {# This creates one option for each food_group. food_group.FdGrp_Desc gets replaced by the food_group value. #}
        {# food_group is a class. FodGrp_Desc is an attribute of food_group #}
            <option value ="{{food_group.FdGrp_Cd}}"
            {% if selected %} selected {% endif %}>
            {{ food_group.FdGrp_Desc }}
            </option>

        {% endfor %}

        </select>
        <input class="typeahead" type="text" name="food" required placeholder="  Food">
        <input type="integer" name="quantity" id="quantity-input" required placeholder="Quantity">
        <select id="units" name="unit" required></select>
        <button type="submit" class="btn btn-default">Add</button>

    </form>

</div> 
{# <div id="calorie_goals">
    Calorie Goals: {{ user.get_adjusted_daily_caloric_needs()|num_round()|int }}
    <span id="macro-nutrient-goals">Macro Nutrient Goals:
        Protein: {{ user.protein_goal }}%
        Carbohydrate: {{  user.carbohydrate_goal }}%
        Fat: {{ user.fat_goal }}%
    </span>
</div>  #}
{#can have multiple classes in one class separated by a space#}
<div class="food-container">
    <table class="table">
        <tr>
            <th>FOOD</th>
            <th>CALS</th>
            <th>PROT</th>
            <th>CARBS</th>
            <th>FATS</th>
            <th>More Button</th>
            <th>Delete Button</th>
        </tr>
        {% for food_index, food in enumerate(food_nutrient_list) %}
        <tr>
            <td class="food_name">{{food["name"]}}<br>
                <span class="quantity_unit">{{food["quantity"]}} {{food["unit"]}}</span>
                </td>
            
            <td>{{food["nutrients"]["Calorie Information"]["Energy_KCAL"]|num_round()}}</td>
            <td>{{food["nutrients"]["Protein & Amino Acids"][ "Protein"]|num_round()}}</td>
            <td>{{food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]|num_round()}}</td>
            <td>{{food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]|num_round()}}</td>
            <td class="more_button">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#Food-Details-{{food_index}}">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            </td>
            <td class="delete_button">
                <a href="food_log/delete/{{food["id"]}}">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a> 
            </td>      
        </tr>

        <div class="collapse" id="Food-Details-{{food_index}}">


        </div>
        {% endfor %}
    </table>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2"><strong>FOOD</strong></div>
        
        <div class="col-xs-1"><strong>CALS</strong></div>
        <div class="col-xs-1"><strong>PROT</strong></div>
        <div class="col-xs-1"><strong>CARBS</strong></div>
        <div class="col-xs-1"><strong>FATS</strong></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
    </div>

    
    {% for food_index, food in enumerate(food_nutrient_list) %}
    <div class="row">
        <div class="col-xs-2">
            <div class="food-name">
                {{food["name"]}}
            </div>
            <div class="quantity-unit">
                {{food["quantity"]}} {{food["unit"]}}
            </div> 
        </div>
        <div class="col-xs-1">{{food["nutrients"]["Calorie Information"]["Energy_KCAL"]|num_round()}}
        </div> 
        <div class="col-xs-1">
            {{food["nutrients"]["Protein & Amino Acids"][ "Protein"]|num_round()}}
        </div>
        <div class="col-xs-1">
            {{food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]|num_round()}}  
        </div>
        <div class="col-xs-1">
            {{food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]|num_round()}}
        </div> 
        <div class="col-xs-1">
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#Food-Details-{{food_index}}">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
        <div class="col-xs-1">
            <a href="food_log/delete/{{food["id"]}}">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </a>
        </div>
    </div>
    



     
    <div class="collapse" id="Food-Details-{{food_index}}"> 
        <p><h4>NUTRIENT BREAKDOWN FOR THE FOOD:</h4></p>
        

        <div class="row">
            <div class="col-md-4">
                {# {% set percentage = 
                    food["nutrients"]["Calorie Information"]["Energy_KCAL"] / user.get_adjusted_daily_caloric_needs() * 100
                    %} #}
                <h3 style="
                    background-image: linear-gradient(
                        to right,
                        #FF0000,
                        #FF0000 {{food["nutrients"]["Calorie Information"]["Energy_KCAL"] / user.get_adjusted_daily_caloric_needs() * 100}}%,
                        #FFFFFF {{food["nutrients"]["Calorie Information"]["Energy_KCAL"] / user.get_adjusted_daily_caloric_needs() * 100}}%
                    ); 
                    border: 1px #000 solid;")>Calories</h3>
                {# {% endset %} #}
                <div class="total">TOTAL: {{food["nutrients"]["Calorie Information"]["Energy_KCAL"]|num_round(0)}} cal</div>
            
                <div>From Protein: {{ ((food["nutrients"]["Protein & Amino Acids"][ "Protein"]) * 4)|num_round(0)}} cal</div>
                <div class="value">From Carbs: {{(((food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]) - (food["nutrients"]["Carbohydrates"]["Fiber, total dietary"])) * 4)|num_round(0)}} cal</div>
                <div class="value">From Fats: {{((food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]) * 9)|num_round(0)}} cal</div>
            </div>

            <div class="col-md-4">
                <h3>Protein</h3>
                {# <h3  style="background-image: linear-gradient(
                        to right,
                        #FF0000,
                        #FF0000 {{100 * food["nutrients"]["Protein & Amino Acids"]["Protein"] * 4/ ((user.protein_goal / 100) *user.get_adjusted_daily_caloric_needs())}}%,
                        #FFFFFF {{100 * food["nutrients"]"Protein & Amino Acids"]["Protein"] * 4/ ((user.protein_goal / 100) * user.get_adjusted_daily_caloric_needs())}}%
                    ); 
                    border: 1px #000 solid;"

                >Protein</h3> #}
                <div class="total">TOTAL: {{nutrient_name}} {{food["nutrients"]["Protein & Amino Acids"]["Protein"]|num_round(0)}} g</div>
                
                <div>    
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#Protein-Details-{{food_index}}">
                    More Details
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                </div>
                <div id="Protein-Details-{{food_index}}" class="collapse">
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Protein & Amino Acids"]) %}
                    {% if index > 0 %}

                    <div>
                        {{nutrient_name}} {{food["nutrients"]["Protein & Amino Acids"][nutrient_name]|num_round()}}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                        
            </div>
            
                
            

            <div class="col-md-4">
                <h3 style="background-image: linear-gradient(
                        to right,
                        #FF0000,
                        #FF0000 {{100 * food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"] * 4/ ((user.carbohydrate_goal / 100) *user.get_adjusted_daily_caloric_needs())}}%,
                        #FFFFFF {{100 * food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]  * 4/ ((user.carbohydrate_goal / 100) * user.get_adjusted_daily_caloric_needs())}}%
                    ); 
                    border: 1px #000 solid;"
                >Carbohydrates</h3>
                {% for index, nutrient_name in enumerate(food["nutrients"]["Carbohydrates"]) %}
                {% if index == 0 %}
                <div class="total">{{nutrient_name}}: {{food["nutrients"]["Carbohydrates"][nutrient_name]|num_round(0)}} g
                </div>
                {% endif %}

                {% if 0 < index < 4 %}
                <div>{{nutrient_name}}: {{food["nutrients"]["Carbohydrates"][nutrient_name]|num_round()}} g
                </div>
                {% endif %}
                {% endfor %}

                <div>
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#Sugars-Details-{{food_index}}">
                    More Details
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                </div>
                <div id="Sugars-Details-{{food_index}}" class="collapse">
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Carbohydrates"]) %}
                    {% if index >= 4 %}
                    <div>{{nutrient_name}}: {{food["nutrients"]["Carbohydrates"][nutrient_name]|num_round()}} g
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>                           
            </div>           
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3 style="background-image: linear-gradient(
                        to right,
                        #FF0000,
                        #FF0000 {{100 * food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"] * 9/ ((user.fat_goal / 100) * user.get_adjusted_daily_caloric_needs())}}%,
                        #FFFFFF {{100 * food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"] * 9/ ((user.fat_goal / 100) * user.get_adjusted_daily_caloric_needs())}}%
                    ); 
                    border: 1px #000 solid;"
                >Fats</h3>
                <div>
                    <div> Total Fats: {{food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]|num_round(0)}} g
                    </div>
                    <div class="total">Saturated</div>
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Fats & Fatty Acids"]) %}
                    {% if 0 < index < 15 %}
                    <div>{{nutrient_name}}: {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]|num_round()}} g
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                    <div class="total">Monounsaturated</div>
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Fats & Fatty Acids"]) %}
                    {% if 14 < index < 31 %}
                    <div>{{nutrient_name}}: {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]|num_round()}} g
                    </div>
                    {% endif %}
                    {% endfor %}

                    
                    <div class="total">Polyunsaturated</div>
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Fats & Fatty Acids"]) %}
                    {% if 31 < index < 56 %}
                    <div>{{nutrient_name}}: {{food["nutrients"]["Fats & Fatty Acids"][nutrient_name]|num_round()}} g
                    </div>
                    {% endif %}
                    {% endfor %}
                    


                    <div class="total">Fatty Acids, total trans: {{food["nutrients"]["Fats & Fatty Acids"]["Fatty acids, total trans"]|num_round()}} g</div>
                    <div class="total">Fatty acids, total trans-polyenoic: {{food["nutrients"]["Fats & Fatty Acids"]["Fatty acids, total trans-polyenoic"]|num_round()}} g</div>
                    <div class="total">Fatty acids, total trans-polyenoic: {{food["nutrients"]["Fats & Fatty Acids"]["Fatty acids, total trans-polyenoic"]|num_round()}} g</div>
                    <div class="total">Fatty acids, total omega-3: {{food["nutrients"]["Fats & Fatty Acids"]["omega_3"]|num_round()}} g</div>
                    <div class="total">Fatty acids, total omega-6: {{food["nutrients"]["Fats & Fatty Acids"]["omega_6"]|num_round()}} g</div>

                </div>
            </div>
            <div class="col-md-4">
                <h3>Vitamins</h3>
                {% for index, nutrient_name in enumerate(food["nutrients"]["Vitamins"]) %}
                    
                <div>{{nutrient_name}}: {{food["nutrients"]["Vitamins"][nutrient_name]|num_round()}} 
                </div>
                        
                {% endfor %}
                
            </div>
            <div class="col-md-4">
                <h3>Minerals</h3>
                {% for index, nutrient_name in enumerate(food["nutrients"]["Minerals"]) %}
                    
                <div>{{nutrient_name}}: {{food["nutrients"]["Minerals"][nutrient_name]|num_round()}}
                </div>               
                {% endfor %}
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3>Sterols</h3>
                
                {% for index, nutrient_name in enumerate(food["nutrients"]["Sterols"]) %}
                {% if index < 1 %}
                <div>
                    {{nutrient_name}}: {{food["nutrients"]["Sterols"][nutrient_name]|num_round()}}
                </div>
                {% endif %}
                {% endfor %}
                
                <div>
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#Sterols-Details-{{food_index}}">
                    More Details
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                </div>

                <div id="Sterols-Details-{{food_index}}" class="collapse"> 
                    {% for index, nutrient_name in enumerate(food["nutrients"]["Sterols"]) %}
                    {% if index >= 1 %}                
                    <div>
                        {{nutrient_name}}: {{food["nutrients"]["Sterols"][nutrient_name]|num_round()}}
                    </div>
                    {% endif %}
                    {% endfor %}              
                    {# <div>Stigmasterol 
                        {{food["nutrients"]["Sterols"]["Stigmasterol"]}}
                    </div>
                    <div>Campesterol 
                        {{food["nutrients"]["Sterols"]["Campesterol"]}}
                    </div>
                    <div>Beta-sitosterol 
                        {{food["nutrients"]["Sterols"]["Beta-sitosterol"]}}
                    </div> #}
                </div>
            </div>
                       
            <div class="col-md-4">
                <h3>Other</h3>
                {% for index, nutrient_name in enumerate(food["nutrients"]["Other"]) %}
                    
                <div>{{nutrient_name}}: {{food["nutrients"]["Other"][nutrient_name]|num_round()}}
                </div>              
                {% endfor %}
            </div>          
        </div>
    </div>
    {% endfor %} 

</div>  
</form>
{% endblock %}
