{#We are using WTF library#}

{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<h1>Sign In</h1>
<form action="" method="post" name="login">
    {# <table>
        <tbody>
            <tr>
                <td class="right">Email:</td>
                <td>
                    <input type="text" name="username" id="usernameBox">
                </td>
            </tr>
            <tr>
                <td class="right">Password:</td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
        </tbody>
    </table>

    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p> #}
    <dl>
    {{ render_field(form.username_or_email) }}
    {{ render_field(form.password) }} 
    {{ form.csrf_token }}
  </dl>
  <p><p><input type=submit value=Login></p></p>
</form>
{% endblock %}

