{% macro show_food(food_index, food) %}
<tr class="food_row" data-association-id="{{food["id"]}}">
   <td class="food_name">{{food["name"]}}<br>
        <div class="quantity_unit">{{food["quantity"]}} {{food["unit"]}}</div>
    </td>
    
    <td>{{food["nutrients"]["Calorie Information"]["Calories"]["value"]|num_round(food["nutrients"]["Calorie Information"]["Calories"]["precision"])}}
    </td>

    <td>{{food["nutrients"]["Protein & Amino Acids"]["Protein"]["value"]|num_round(food["nutrients"]["Protein & Amino Acids"]["Protein"]["precision"])}}</td>

    <td>{{food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]["value"]|num_round(food["nutrients"]["Carbohydrates"]["Carbohydrate, by difference"]["precision"])}}</td>

    <td>{{food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]["value"]|num_round(food["nutrients"]["Fats & Fatty Acids"]["Total lipid (fat)"]["precision"])}}</td>
    
    <td>{{food["nutrients"]["Other"]["Water"]["value"]|num_round(food["nutrients"]["Other"]["Water"]["precision"])}}</td>
    <td class="more_button">
        <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#Food-Details-{{food_index}}" aria-expanded="false" aria-controls="Food-Details-{{food_index}}">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </td>
    <td class="delete_button">
        {% if food["name"] != "Totals" %}
        <a href="food_log/delete/{{food["id"]}}">
            <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </a>
        {% endif %} 
    </td>      
</tr>


<tr>
    <td  colspan="7">
        <div id="Food-Details-{{food_index}}" class="collapse food_details">
            {{show_nutrients(food, food_index, "CALORIES", "calories", "Calorie Information")}}
            {{show_nutrients(food, food_index, "PROTEIN", "protein", "Protein & Amino Acids")}}
            {{show_nutrients(food, food_index, "CARBOHYDRATES", "carbohydrates", "Carbohydrates")}}
            {{show_nutrients(food, food_index, "FATS", "fats", "Fats & Fatty Acids")}}
            {{show_nutrients(food, food_index, "VITAMINS", "vitamins", "Vitamins")}}
            {{show_nutrients(food, food_index, "MINERALS", "minerals", "Minerals")}}
            {{show_nutrients(food, food_index, "STEROLS", "sterols", "Sterols")}}
            {{show_nutrients(food, food_index, "OTHER", "other", "Other")}}

            
            
            
            
        </div>
    </td>
    
</tr>
{% endmacro %}

{%macro show_nutrients(food, food_index, title, data_target, category_name)%}
<table class="table">
   <tr>
        <td>
            <div class="nutrient_header">
                <strong>{{title}}</strong>
                    {# <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target=".more_{{data_target}}_{{ food_index }}">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </button> #}
            </div>
        </td>
    </tr>
    {# .items() returns a list of tuples of (key, value) #}
    {% for nutrient_index, (nutrient_name, nutrient_dict) in enumerate
        (food["nutrients"][category_name].items()) %}
    <tr>
        <td class="nutrient">
            {{nutrient_name}}
            {{nutrient_dict["value"]|num_round(nutrient_dict["precision"])}}
            {% if nutrient_dict["value"] is not none %}

            {{ nutrient_dict["unit"] }}
            {% else %}
            <div class="target-progress-bar">N/A</div>

            {% endif %}

            
            {# in jinja, can't use None. must use none. #}
            {% if nutrient_dict["target_percentage"] is not none %}
            <div class="target-progress-bar"
                style="background-image: linear-gradient(
                    to right, #7280DE, #7280DE {{ nutrient_dict["target_percentage"] }}%, 
                    white {{ nutrient_dict["target_percentage"] }}%
                );">
                {{ nutrient_dict["target_percentage"]|num_round(2)}}
                %
            </div>
           
            {% endif %}
            {% if nutrient_dict["subnutrients"] %}
            <a data-toggle="collapse" data-target=".more_{{data_target}}_{{ food_index }}_{{nutrient_index}}">▼</a>
            {% endif %}
            


        </td>
    </tr>
    {% for subnutrient_index, (subnutrient_name, subnutrient_dict) in enumerate
        (nutrient_dict["subnutrients"].items()) %}
    <tr class="more_{{data_target}}_{{ food_index}}_{{ nutrient_index }} more collapse">
        <td>
            {{subnutrient_name}}

            {{ subnutrient_dict["value"]|num_round(subnutrient_dict["precision"]) }}
            {% if subnutrient_dict["value"] is not none %}
            {{ subnutrient_dict["unit"] }}
            {% else %}
            <div class="target-progress-bar">N/A</div>
            {% endif %}
            
            {% if subnutrient_dict["target_percentage"] is not none 
                <div class="target-progress-bar"
                style="background-image: linear-gradient(
                    to right, #7280DE, #7280DE {{ subnutrient_dict["target_percentage"] }}%, 
                    white {{ subnutrient_dict["target_percentage"] }}%
                );">
                {{ subnutrient_dict["target_percentage"]|num_round(2)}}
                %
                {% if subnutrient_dict["upper_limit_percentage"] is not none
                    {{ subnutrient_dict["upper_limit_percentage"] }}  

                %}
                </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{%endmacro%}
