{% extends "base.html" %}
{%  block content %}
{% from "_formhelpers.html" import render_field %}

<form method="post" action="/profile">
    {{ form.hidden_tag() }}
    

    <h3>Here is the profile page!</h3>
    <div>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
        <script>
        /*$(function() {
            $( "#birthday" ).datepicker({
             changeMonth: true,
             changeYear: true,
             minDate: new Date(1900, 0, 1),
             yearRange: "1900:+0",
             
            });
        });*/
        </script>
        {# <p>Birthdate: <input type="text" id="birthday" value="{{user.birthday}}"></p> #}
    </div>
    <div>
        {{ render_field(form.birthday) }}

        {{ render_field(form.gender) }}      
    </div>

    <div id="height">
        <h6>Your Height:</h6>
        {# {{ render_field(form.height_unit) }} #}
        {{ render_field(form.height_in_feet) }}
        {{ render_field(form.height_in_inches) }}
        {{ render_field(form.height_in_centimeters) }}
    </div>

    <div id="weight">
        <h6>Your Weight: </h6>
        {{ render_field(form.weight_unit) }}  
        {{ render_field(form.weight) }}
    </div>
        {# {{ render_field(form.user.food_log) }} #}

    <div>
        {{ render_field(form.activity_level) }}    
        {{ render_field(form.weekly_change_level) }}
    </div>
    <div id="profile-goals">

        <h5>Goals:</h5>
        <h5>Please enter the amount of calories you wish to consume.</h5>
        {{ render_field(form.calorie_goal) }}
        <h5>Please set your target ratio of calories for Protein, Carbs and Fats:</h5>
        {{ render_field(form.protein_goal) }}
        {{ render_field(form.carbohydrate_goal) }}
        {{ render_field(form.fat_goal) }}
    </div> 
    <div id="supertracker">

        <h5>Alternatively, you can connect to <a href="https://www.supertracker.usda.gov">The USDA Supertracker</a> to help you define your nutrition goals
        </h5>
    </div>

    


    {# <div id="weight">
    {{ render_field(form.weight_unit) }}
    {{ render_field(form.weight) }}
    {{ render_field(form.weight_goal) }}
    </div> #}
    
  
    
    {# <dt>Height</dt> #}
  

    {# <dd>
        <div class="height_range">
            <input type="range" min="0.5" max="2.5" step="0.00635">          
            Feet: <span class="feet">4'/11"</span> /
            Meters: <span class="meters">1.5m</span>
        </div>  
    </dd> #}
    
    

    
        
        {#{{ render_field(form.gender) }}#}
        {#{{ render_field(form.weight_in_pounds) }}
         {{ render_field(form.weight_in_kilograms) }}
        {{ render_field(form.weight_in_stones) }}
        {{ render_field(form.height_in_feet) }}
        {{ render_field(form.height_in_inches) }}
        {{ render_field(form.height_in_centimeters) }}
        
        {{ render_field(form.activity_level) }}
        {{ render_field(form.weight_change_goal) }}
        {{ render_field(form.fat_goal) }}
        {{ render_field(form.birthyear) }}
        {{ render_field(form.caloric_needs) }} #}
        
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}


{# Consider asking for the following information:
    User_gender: Male or Female
    User_gender: Female: Standard Special:Pregnant Lactating
    User_weight: Output in both kg and pounds
    User_height:: Output in cm and feet/inches
    Caloric Needs is based on: 
        Basal Metabolic Rate + Activity Calories + Thermogenesis Calores +- 10%
        Basal Metabolic Rate: 
            Men: User_weight in pounds x 11
            Women: User_weight in pounds x 10.1            
        Activity Calories: 
            Inactive: Less than 2 hours of moving: Basal Metabolic Rate x 30%
            Average: Sitting most of the day, walking or standing 2-4
               hours, no strenous activity: Basal Metabolic Rate X 50%
            Active(physically active 4 or more hours each day, little   
                sitting or standing, some strenuous activity):
                Basal Metabolism x 75%
        Dietary Thermogenesis Calories: 10%(Basal Metabolic Rate + physical activity calories)
    Weight Goal:
        Maintain Weight: Caloric Needs
        Lose Weight: Caloric Needs - [(Pounds_per_week_to_lose) x 3500 calories] = Number of calories per week
        Gain Weight: Caloric Needs + [(Pounds_per_week_to_gain) x 3500 calories] = Number of calories per week.
        Calories per week may be allocated equally or unequally throughout the week. Calories to lose or gain can be devided between caloric intake and activity.
    Macronutrient Ratio Targets:
        Enter desired ratio of calories from Protein, Carbs and Fats:
            Protein:   Carbs:   Fats:




 #}
